
<div>
  <div class="form-group form-inline">
    Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name">Joke</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let joke of jokes | async">


      <tr (click)="onJokeClick(joke) ">
        <th scope="row">{{ joke.id }}</th>

        <td>
          <ngb-highlight [result]="joke.joke" [term]="service.searchTerm"></ngb-highlight>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <app-pagination></app-pagination>

</div>

